
@font-face {
  font-family: 'bungee_outlineregular';
  src: url('../../public/bungee-fonts/bungeeoutline-regular.woff2')
      format('woff2'),
    url('../../public/bungee-fonts/bungeeoutline-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  background-image: linear-gradient(black, #570861);
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #f8f8ff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #008080;
}

button:hover {
  box-shadow: 0.5em 0.5em 0.5em -0.4em #008080;
}

.costumeCard {
  border: 2px solid white;
  background-color: #008080;
  opacity: 0.75;
  padding: 1em;
  border-radius: 5px;
  grid-column: span 1 / span 1;
  height: '10rem';
}

.costumeCardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
}

footer,
header {
  align-items: center;
  background-color: black;
  justify-content: center;
  margin: auto;
  padding: 1rem 0;
  text-align: center;
  z-index: 0;
}

footer {
  border-top: 10px solid #008080;
}

header {
  border-bottom: 10px solid #008080;
}

h1,
h2 {
  font-family: bungee_outlineregular, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

main {
  min-height: 50vh;
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding: 10px;
  text-align: center;
}
